* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
}

.controls,
.statistics {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

button {
  font-size: 20px;
  width: 40px;
  height: 40px;
  border: none;
  background: white;
  cursor: pointer;
  border: 1px solid #eee;
}

button:hover {
  background: #eee;
}

span {
  width: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}